body{
  margin: 0px;
}

.view{
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

#DiagramContainer{
  width: 100%;
  height: 100%;

  overflow: hidden;
  background:url('grid.gif');
  curosr:default;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height:100%;
}

td, th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
